name: publish
on:
  push:
    tags:
      - '*'
jobs:
  publish-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}
      - name: Build the discord-bitbucket Docker image
        run: |
          docker build . --tag ghcr.io/infiniteloopcloud/discord-bitbucket:${GITHUB_REF/refs\/tags\//}
          docker push ghcr.io/infiniteloopcloud/discord-bitbucket:${GITHUB_REF/refs\/tags\//}